.cover-container{
    height: 88.7vh;
    width: 100%;
    object-fit: contain;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


.imagen {
    object-fit: cover;
    width: 100%;
    height: 88.7vh;
    position: absolute;
    z-index: -1;
}


.cover-container > p {
    margin-top: 0px;
    color: #B69352;
    font-size: 32px;
    font-style: italic;
    font-weight: bolder;
}
